// ----------Hero section---------------
.hero {
  padding: 200px 0;
  background-color: $background-color;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image/bcg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  &__button {
    margin-top: 30px;
  }
}
@mixin title($fw, $fs, $lh, $ls, $tt, $color) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $tt;
  color: $color;
}

.hero-title {
  @include title(900, 44px, 1.5, 0.06, uppercase, $header-color);
}

@import "./_button.scss";

.hero__button {
  margin-top: 30px;
}

// --------------Benefits------------

.benefits--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits__list {
  width: 270px;
  display: flex;
}
.benefits-item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    padding: 25px 100px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__header {
    @include title(700, 14px, 1.14, 0.03em, uppercase, $primary-color);
    margin-bottom: 10px;
  }

  &__description {
    @include title(400, 14px, 1.71, 0.03em, none, $secondary-color);
    margin-bottom: 10px;
  }
}

// ----------------Work section-------------

.work {
  padding-top: 0;

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.title {
  @include title(700, 36px, 1.17, 0.03em, none, $primary-color);
  text-align: center;
}

.image-box {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
  }
  &__description {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    @include title(700, 14px, 1.14, 0.03em, uppercase, #ffffff);
  }

  &__img {
    display: block;
    width: 100%;
  }
}

// ------------Team section-------------

.team {
  background-color: $not-active-color;

  &__list {
    display: flex;
  }

  &-list__social-list {
    display: flex;
    margin-top: 10px;
  }
}
