@mixin font-style($fw, $fs, $lh, $tt) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  text-transform: $tt;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: $background-color;
  padding: 60px 0;

  &__address-container {
    @media screen and (max-width: 767.9px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__logo {
    color: white;
    margin-bottom: 20px;
    display: block;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &-title {
    color: $header-color;
    @include font-style(700, 14px, 1.17, uppercase);
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &-social-item__link {
    background-color: rgba(#fff, 0.1);
  }
}

.footer-join__social-list {
  margin-top: 20px;
  @media screen and (max-width: 1199.9px) {
    justify-content: center;
  }
}

.footer__content {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    letter-spacing: 0.03em;
  }
}

.tablet-form {
  @media screen and (min-width: 768px) and (max-width: 1199.9px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.address {
  color: $header-color;
  font-style: normal;

  &__location {
    margin-bottom: 9px;
    @include font-style(400, 14px, 1.71, none);
    text-align: center;
  }

  &__link {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    @include font-style(400, 14px, 1.71, none);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      text-align: start;
    }

    &:hover,
    &:focus {
      color: $interactive-color;
    }

    &:focus {
      outline: 1px solid $header-color;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.social-link {
  .footer-social__icon {
    fill: $header-color;
  }
}

.join-container {
  @media screen and (max-width: 1199.9px) {
    margin-bottom: 60px;
  }
  &__title {
    margin-bottom: 20px;
  }
}

.form-request {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  &__request {
    display: block;
    @include font-style(700, 14px, 1.14, uppercase);
    color: $header-color;
    margin-bottom: 20px;

    @media screen and (max-width: 1199.9) {
      text-align: center;
    }
  }
}

.footer-box {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }

  &__input {
    display: block;
    @include size(358px, 50px);
    background-color: $background-color;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    @media screen and (max-width: 1199.9px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 12px;
    }

    &:focus {
      outline: 1px solid $header-color;
    }
  }
  .footer-submit {
    display: block;

    &__icon {
      margin-left: 10px;
      fill: #fff;
    }
    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
