body {
  font-family: $primary-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $primary-color;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
