//========== Colors ==========//

$primary-color: #212121;
$secondary-color: #757575;
$interactive-color: #2196f3;
$header-color: #ffffff;
$background-color: #2f303a;
$not-active-color: #f5f4fa;
$social-icon-color: #afb1b8;

// ========== Font-family ==========//

$primary-font: "Roboto";
$secondary-font: "Raleway";
